{% block content %}
   
    <div id="actionsSection">
        <h3>Создать новую ошибку</h3>

    <form id="createErrorForm" enctype="multipart/form-data">
        <input type="text" name="errorName" placeholder="Название ошибки" required>
        <input type="file" name="errorImageFiles" accept="image/*" multiple alt="Формат img или png" required>
        <textarea name="errorSolution" placeholder="Решение проблемы" required></textarea>
        <input type="file" name="solutionImageFiles" accept="image/*" multiple alt="Формат img или png" required>
        <button type="submit">Создать ошибку</button>
    </form>

    <h3>Обновить существующую ошибку</h3>
    <form id="updateErrorForm">
        <input type="hidden" name="errorId" required>
        <input type="text" name="errorName" placeholder="Новое название ошибки" required>
        <textarea name="errorSolution" placeholder="Новое решение проблемы" required></textarea>
        <button type="submit">Обновить ошибку</button>
    </form>

    <button id="deleteErrorButton">Удалить ошибку</button>
    </div>
    
    <div id="usersSection" style="display: none;">
        <h3>Управление пользователями</h3>
        <div id="usersList"></div>
    </div>
{% endblock %}
